{{ if eq .Title "Adult" }}
<h4 class="mb-4">Molly Flodder <small>Coordinator</small></h4>
{{end}}

{{ if eq .Title "Children" }}
<h4 class="mb-4">Britney Sue <small>Coordinator</small></h4>
{{end}}

{{ if eq .Title "Outreach" }}
<h4 class="mb-4">MaryAnne Bayer <small>Coordinator</small></h4>
{{end}}

{{ if eq .Title "Property" }}
<h4 class="mb-4">Joe Songer <small>Coordinator</small></h4>
{{end}}

{{ if eq .Title "Member Care" }}
<h4 class="mb-4">Cheryl Flaherty <small>Coordinator</small></h4>
{{end}}

{{ if eq .Title "Worship" }}
<h4 class="mb-4">Chris Hill <small>Coordinator</small></h4>
{{end}}

{{ if eq .Title "Youth" }}
<h4 class="mb-4">Deena Green <small>Coordinator</small></h4>
{{end}}